.my-nav {
  top: 0;
  background-color: #343a40 !important;
  height: 100%;
  position: fixed;
  width: 20%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  overflow-y: scroll;
  margin: 0;
  z-index: 9999;
}

.my-nav:hover {
  margin: 0;
}

.main-container {
  max-height: 100%;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: fadeOut 2s forwards;
}

.list {
  padding: 0;
  list-style: none;
  font-family: 'Mali', cursive;
  font-size: 22px;
  color: bisque;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.list-item {
  opacity: 0.5;
  cursor: pointer;
}

.list-item.active {
  opacity: 1;
}

.list-item:hover {
  opacity: 1;
}

.animated {
  animation: fadeInLeft-nav;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fas {
  color: white;
}

.btns-container {
  position: absolute;
  left: 92%;
  top: 47%;
  width: 8%;
}

.fa-chevron-up,
.fa-chevron-down {
  display: none;
}


@media only screen and (max-width:1200px) {
  .my-nav {
    display: none;
    display: initial;
    background-color: #343a40 !important;
    height: auto;
    position: fixed;
    width: 80%;
    border-radius: 0;
    border-bottom-right-radius: 70%;
    border-bottom-left-radius: 70%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 10%;
    z-index: 9999;
  }

  .list {
    padding: 0;
    list-style: none;
    font-family: 'Mali', cursive;
    font-size: 22px;
    color: bisque;
    width: 80%;
    text-align: center;
    margin: 0 auto;

  }

  .main-container {

    margin-top: 0;
    margin-bottom: 50px;
    max-height: 100%;
    overflow: hidden;
  }

  .animated {
    animation: fadeInDown-nav;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .btns-container {
    position: absolute;
    top: 82%;
    width: 10%;
    left: 45%;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    display: none;
  }

  .fa-chevron-up,
  .fa-chevron-down {
    display: initial;
  }
}


/* /////////////////Animations////////////////// */

/* ///////////////Mobile Animations//////////////// */
@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown-nav {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

@keyframes fadeInDown-nav {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

.fadeInDown-nav {
  -webkit-animation-name: fadeInDown-nav;
  animation-name: fadeInDown-nav;
  animation-duration: 1s;
}

@-webkit-keyframes retreatUp-nav {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

@keyframes retreatUp-nav {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);
  }
}

.retreatUp-nav {
  -webkit-animation-name: retreatUp-nav;
  animation-name: retreatUp-nav;
  animation-duration: 1s;
}

/* /////////////////////Desktop Animations////////////////////////////// */
@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft-nav {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }
}

@keyframes fadeInLeft-nav {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }
}

.fadeInLeft-nav {
  -webkit-animation-name: fadeInLeft-nav;
  animation-name: fadeInLeft-nav;
  animation-duration: 1s;
}

@-webkit-keyframes retreat-nav {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }
}

@keyframes retreat-nav {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-90%, 0, 0);
    transform: translate3d(-90%, 0, 0);
  }
}

.retreat-nav {
  -webkit-animation-name: retreat-nav;
  animation-name: retreat-nav;
  animation-duration: 1s;
}
