.opacity-container {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}


.main-container {
  box-shadow: 5px 10px #303133 !important;
  padding: 10px;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  position: fixed;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 90%;
  background-color: white;
  overflow-y: auto;
  animation-duration: 1s;
}

.inline-block {
  display: inline-block;
}

.frame {
  height: 100%;
  /*can be anything*/
  width: 45%;
  /*can be anything*/
  position: relative;
  display: inline-block;
  text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.half {
  width: 45%;
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.half2 {
  width: 45%;
  display: inline-block;
  margin-left: 20px;
  margin-top: 40px;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

* {
  font-family: 'Anton', sans-serif;
}

.tag {
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  font-size: 20px;
}

.icon {
  font-family: "Font Awesome 5 Free";
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation: 1s;
  animation-fill-mode: forwards;
}

.prodImg-container {
  position: relative;
  text-align: center;
  top: 20%;
  height: 50%;
  padding: 10px;
}

.SKU-container {
  position: relative;
  text-align: center;
  top: 20%;
  height: 20%;
  padding: 10px;
}

@media only screen and (max-device-width: 1200px) {
  .prodImg-container {
    height: 200px;
    text-align: center;
    position: relative;
    padding: 10px;
  }

  .half,
  .half2 {
    width: 90%;
    margin-left: 0;
  }

  .main-container {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    max-height: 85%;
    background-color: white;
    overflow-y: scroll;
    animation-duration: 1s;
  }
}
